/*********************************
PAGE WIDE SETTINGS
**********************************/
html, body
{
	height: 1000px;
	width: 100%;
	font-family: Arial, Verdana, Sans-Serif;
	margin: 0px 0px 0px 0px;
	background-color: #EBE1D2;
}

@-ms-viewport
{
	initial-scale: 1;
	width: 1200px;
}

/****************************************
SET THE CONTENT MARGINS AND CENTER CONTENT
****************************************/
#leftMargin
{
	float: left;
	width: 5%;
	height: 1000px;
	margin: 0px 0px 0px 0px;
}
#centerContent
{
	float: left;
	width: 90%;
	height: 1000px;
	margin: 0px 0px 0px 0px;
	-moz-box-shadow: 3px 3px 10px #777777;
	-webkit-box-shadow: 3px 3px 10px #777777;
	box-shadow: 3px 3px 10px #777777;
	background-color: white;
	border-radius: 25px;
	overflow: hidden;
	background: #4068A8;
	background: -webkit-linear-gradient(right, #4068A8 80%, #B5C6E3, #4068A8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #4068A8 80%, #B5C6E3, #4068A8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4068A8 80%, #B5C6E3, #4068A8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, #4068A8 80%, #B5C6E3, #4068A8); /* Standard syntax (must be last) */
}
#rightMargin
{
	float: left;
	width: 5%;
	height: 1000px;
	margin: 0px 0px 0px 0px;
}

/*******************************************
HEADER FORMATTING
*******************************************/
#header
{
	width: 100%;
	height: 50px;
	color: white;
	margin: 0px 0px 0px 0px;
}
.header
{
	float: left;
	width: 70%;
	height: 100%;
}
#header h1
{
	font-size: 1.5em;
	padding-left: 5%;
}

.subHeader
{
	float: left;
	color: white; /*#A19B9B;*/
	font-size: .75em;
	width: 25%;
	text-align: right;
	height: 100%;
}

/*******************************************
SCRIPTURE FORMATTING
*******************************************/
#scripturesContainer
{
	width: 100%;
	height: 10%;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

#scriptures
{
	width: 90%;
	height: 90%;
	margin: 5% 5% 5% 5%;
	background: #ffffff;
	filter: alpha(opacity = 50);
	opacity: 0.9;
	border-radius: 25px;
	-moz-box-shadow: 3px 3px 10px #777777;
	-webkit-box-shadow: 3px 3px 10px #777777;
	box-shadow: 3px 3px 10px #777777;
	font-weight: bold;
	font-size: 0.8em;
	color: #000000;
}

#scriptureText
{
	padding-top: 1%;
}

/******************************************
CONTENT
*******************************************/
#content
{
	margin-top: 0px;
	height: 100%;
}

/*******************************************
LEFT CONTENT
********************************************/
#leftContent
{
	float: left;
	width: 20%;
	height: 100%;
	margin-top: 0px;
	color: white;
}
.leftContentDescription
{
	font-size: .90em;
	padding-left: 5%;
}
.leftContentTitle
{
	font-weight: bold;
	text-decoration: underline;
	font-size: .90em;
	margin-top: 10px;
	padding-left: 5%;
}
.link
{
	cursor: pointer;
	color: white;
	text-decoration: none;
	padding-left: 5%;
}
.link:hover
{
	font-weight: bold;
	font-size: 1em;
}

.selectedLink
{
	text-decoration: underline;
	color: white;
	padding-left: 5%;
}

.scriptureSearchContainer
{
	height: 10%;
	width: 90%;
}

.scriptureSearchForm
{
	height: 100%;
}

.scriptureSearchHeader
{
	font-style: bold;
	padding-left: 5%;
}

.scriptureSearchElement
{
	/*place holder*/
}
/*******************************************
RIGHT CONTENT
*******************************************/
#rightContent
{
	float: left;
	width: 79%;
	height: 100%;
	margin-top: 0px;
	padding-left: 1%;
	position: relative;
	background: #ffffff;
}

.bottomRightContent
{
	bottom: 20px;
	left: 10px;
	float: left;
	position: absolute;
}

.paragraphLink
{
	text-decoration: none;
}

/******************************************
FOOTER
*******************************************/
#footer
{
	height: 100px;
    width: 100%;
    bottom: 0;
	color: #000000;
	font-style: bold;
	font-size: 1em;
	clear: left;
	margin: 0px 0px 0px 0px;
}
#copyright
{
	float: left;
	width: 100%;
	height: 100%;
	display: table;
	text-align: left;
}
#copyrightChild
{
	padding-left: 10px;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/********************************************
EMAIL FORM
********************************************/
#emailContainer
{
	font-size: 0.8em;
}

#emailForm
{
	width: 100%;
	background-color: #ededed;
}

#emailForm p
{
	float: left;
	clear: left;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	list-style: none;
	width: 100%;
}
.textInput
{
	border-radius: 5px;
}

#emailForm label
{
	display: block;
	cursor: pointer;
	float: left;
	text-align: right;
	padding-right: 3%;
	width: 15%;
	line-height: 1em;
}
#emailForm textarea
{
	width: 70%;
	height: 15em;
}
#submitButton
{
	padding-left: 18%;
}

.error
{
	color: #ff0000;
	font-size: 1em;
	padding-left: 18%;
}

/***************************************************
MAP
***************************************************/
#mapContainer
{
	width: 50%;
	height: 33%;
	float: left;
}
#map
{
	width: 100%;
	height: 100%;
}

.directions
{
	width: 45%;
	height: 70%;
	overflow: auto;
	float: right;
	margin-left: 5%;
}